<html>
	<head>
		<title>Movies</title>
	</head>
	<body>
		<center>
			<form>
				<h1>Movie Quote Of The Day:</h1>
				<br />
				<h2>{{movie}}</h2>
				<br />
				<h1>Movie For Tommorow:</h1>
				<br />
				<h2>{{movie2}}</h2>
			</form>
		</center>
	</body>
</html>
